*.in
*.m4
*.log
*.o
*.la
*.lo
core
Makefile
/config.h
/config.guess
/config.h.in
/config.sub
/config.status
/configure
/depcomp
/install-sh
/missing
/ltmain.sh
/libtool
/*.cache/
/_tmp/
stamp-*
/debian/files
/debian/libdbd-null/
/debian/*substvars
/debian/*debhelper.log
.libs/
/tests/test-dbd-null
/tests/test-dbd-null-sleep
