#!/usr/local/bin/make -f
STAMPDIR=tgz2build/stamps

FREETDS_OPTS = --with-freetds --with-freetds-incdir=$(ZBS_PREFIX)/include/ --with-freetds-libdir=$(ZBS_PREFIX)/lib/
MYSQL_OPTS = --with-mysql --with-mysql-libdir=$(ZBS_PREFIX)/lib/ --with-mysql-incdir=$(ZBS_PREFIX)/include/
PGSQL_OPTS = --with-pgsql --with-pgsql-libdir=$(ZBS_PREFIX)/lib --with-pgsql-incdir=$(ZBS_PREFIX)/include
SQLITE_OPTS = --with-sqlite3 --with-sqlite3-libdir=$(ZBS_PREFIX)/lib --with-sqlite3-incdir=$(ZBS_PREFIX)/include
ORACLE_OPTS = --with-oracle --with-oracle-libdir=$(ZBS_PREFIX)/lib --with-oracle-incdir=$(ZBS_PREFIX)/include

CONFIGURE_OPTS := --prefix=$(ZBS_PREFIX) --disable-docs --without-oracle --with-dbi --with-dbi-incdir=$(ZBS_PREFIX)/include/ --with-dbi-libdir=$(ZBS_PREFIX)/lib/ $(FREETDS_OPTS) $(SQLITE_OPTS) --without-sqlite

ifeq (,$(findstring freebsd,$(ZBS_DIST)))
ifeq (,$(findstring linux-glibc2.1.3,$(ZBS_DIST)))
ifeq (,$(findstring linux-glibc2.3.2,$(ZBS_DIST)))
ifeq (,$(findstring osx-10,$(ZBS_DIST)))
CONFIGURE_OPTS += $(ORACLE_OPTS)
endif
endif
endif
endif

ifeq (,$(findstring linux-glibc2.1.3,$(ZBS_DIST)))
ifeq (,$(findstring linux-glibc2.3.2,$(ZBS_DIST)))
ifeq (,$(findstring tru64,$(ZBS_DIST)))
CONFIGURE_OPTS += $(MYSQL_OPTS) $(PGSQL_OPTS)
endif
endif
endif

ifneq (,$(findstring linux-glibc2.1.3,$(ZBS_DIST)))
        CC=gcc-4.2
endif

RPATH=-Wl,-R/$(ZBS_PREFIX)

ifneq (,$(findstring aix,$(ZBS_DIST)))
	RPATH=-Wl,-blibpath:/opt/syslog-ng/lib:/usr/lib:/lib
	LDFLAGS+="-Wl,-brtl"
endif

ifneq (,$(findstring hpux,$(ZBS_DIST)))
	RPATH=-Wl,+b/opt/syslog-ng/lib
endif

ifneq (,$(findstring tru64,$(ZBS_DIST)))
	RPATH=-Wl,-rpath,/opt/syslog-ng/lib
endif

ifneq (,$(findstring osx,$(ZBS_DIST)))
ifneq (,$(findstring ows-10.4,$(ZBS_DIST)))
  RPATH=-Wl,-rpath,/opt/syslog-ng/lib
else
  RPATH=
endif
endif

all: binary

binary: setup configure build install

setup:  $(STAMPDIR)/stamp-setup
$(STAMPDIR)/stamp-setup:
	mkdir tgz2build/stamps || true
	touch $@

configure: $(STAMPDIR)/stamp-configure
$(STAMPDIR)/stamp-configure: $(STAMPDIR)/stamp-setup
	LDFLAGS=" $(RPATH) $(LDFLAGS)" ./configure $(CONFIGURE_OPTS)
	touch $@

$(STAMPDIR)/stamp-configure: setup

build:  $(STAMPDIR)/stamp-build
$(STAMPDIR)/stamp-build: configure
	$(MAKE)
	touch $@
install: $(STAMPDIR)/stamp-install
$(STAMPDIR)/stamp-install: build
	rm -rf $(ZBS_STAGE_DIR) || true
	$(MAKE) install DESTDIR=$(ZBS_STAGE_DIR)
	touch $@
clean:
	rm -rf tgz2build/stamps || true
	rm -rf tgz2build/staging || true
	$(MAKE) clean

.PHONY: build clean binary-indep binary-arch binary install
